@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&family=Roboto+Condensed&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

header{
    width: 80%;
    margin: 40px auto;
    background-color: #161616;
    color: white;
    border-radius: 20px;
}
.header-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 33px;
}
.half-width{
    width: 50%;
}
.half-width h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 20px;
 
}
.half-width p{
    font-size: 30px;
    line-height: 1.5em;
    
}


#button{display: inline-block;
    text-decoration: none;
    background-color: red;
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    
   
  }

.banner-left img{
    position: relative;
    left: 25px;
    bottom: -4px;
    height: 100%;
    width: 100%;
}


.container{
display: flex;
gap: 24px;
width: 90%;
margin: 50px auto;
margin-top: 130px;
padding-left: 12%;
}

.clickable-button{
   width: 20%;
   height: 20%;
   background-color: #161616;
   border-radius: 15px;
}
.picture-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#blog-part-1{
    padding: 20px;
    background-color: white;
    margin: 30px;
    text-align: center;
    border-radius: 5px;
   
}
#blog-part-1 a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
   
}
#blog-part-2{
    padding: 20px;
    background-color: white;
    margin: 30px;
    text-align: center;
    border-radius: 5px;
}
#blog-part-2 a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
   
}
#blog-part-3{
    padding: 20px;
    background-color: white;
    margin: 30px;
    text-align: center;
    border-radius: 5px;
}
#blog-part-3 a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
   
}
/* #blog-part-1:hover{
    background-color: #DD0000;
} */
#blog-part-2:hover{
    background-color:darkgreen;
}

/* #blog-part-3:hover{
    background-color: #DD0000;
} */
.picture-part img{
    width: 100%;
    
   }

   .blogs-2{
    box-shadow: 0px 0px 1px;
    border-radius: 15px;
   }
   .blogs-2 a{
    display:inline-block;
    
   }
   
   .transfer-button {
     padding: 20px;
   }

   .transfer-button p{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    
    color: #161616;
   }
   .icons {
    padding-left: 30px;
  }
  .fa-solid, .fa-brands{
   padding-right: 10px;
   
  } 

  /* footer part */
  footer{
    margin-top: 130px;
    height: 350px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 80px;
     
  
   }
   footer h2{
    padding-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 40px;
    
   }
   footer ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin:0 100px ;
    margin-bottom: 50px;
    
   }
   footer li{
    list-style: none;
    
   }
    footer a{
    font-size: 50px;
    padding: 20px;
    color: rgb(255, 254, 243);
    
   } 

    /* Media Queries */
 /* -------------Mobile Device------------ */
 @media only screen and (max-width: 576px){ 
    .header-container{
 
     flex-direction: column;
     }
     .half-width {
       font-size:3.5vw;
       width: 90%;
       height: 50%;
       padding:20px;
       padding-top: 0%;
     
       
 
  }
  .half-width h1 {
    font-size: 7vw;
   }
  
  .half-width banner-left img {
   
   width: 95%;
   height: 70%;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 0%;
   
   
     
 }
 #button {
   margin-left: 20%;
 }
 .container{
   display: flex;
   flex-direction: column;
 }
 
 .clickable-button {
   background-color:transparent ;
   width: 100%;
   margin-right: 30px ;
  }
  #blog-1{
   box-shadow: 0px .5px 1px;
  }
  #blog-2{
   box-shadow: 0px .5px 1px;
   width: 60%;
   margin:0px auto ;
  }
  #blog-3{
   width: 60%;
   margin:25px auto ;
  }
  .picture-part {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  .blog-part-2 {
    box-shadow: 0px 5px 2px;
  }
   
 footer {
   width: 100%;
   height: 100%;
    
 }
 
  
 
 footer ul {
 display: inline-block;
 border-top: 1px solid gray ;
 margin: 0% auto;
 
      
 }
  
  footer li{
   padding: 20px;
   font-size: 20px;
  }
       
   
 }

   /* -------------Tablet Device------------ */
   @media only screen and (min-width:768px) and (max-width: 1023px){
   .header-container{
     display: flex;
    flex-direction: column;
    }
    .half-width {
      font-size:3.5vw;
      width: 90%;
      height: 50%;
      padding:20px;
      padding-top: 0%;
    
      

 }
 .half-width h1 {
   font-size: 7vw;
  }
 
 .half-width banner-left img {
  
  width: 95%;
  height: 70%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0%;
  
  
    
}
#button {
  margin-left: 20%;
}
.container{
  display: flex;
  flex-direction: column;
}

.clickable-button {
  display: flex;
  background-color:transparent ;
  width: 100%;
  margin-right: 30px ;
 }
 #blog-1{
  box-shadow: 0px 0px 1px;
  width: 60%;
 }
 #blog-2{
  box-shadow: 0px 0px 1px;
  width: 60%;
  
 }
 #blog-3{
  box-shadow: 0px 0px 1px;
  width: 60%;
  
 }
 .picture-part {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   
 }
 .picture-part > .hidden {
  display: none;
}
.flag-2 > .hidden {
  display: none;

}
 #view-all{
  display:inline-block;
  margin-left: 40% ;
  
}
  
footer {
  width: 100%;
  height: 100%;
   
}

 

footer ul {
display: inline-block;
border-top: 1px solid gray ;
margin: 0% auto;

     
}
 
 footer li{
  padding: 20px;
  font-size: 20px;
 }
}  
  


 /* upcoming-match */
 .container{
  width: 80%;
 }
 .flag-2{
  box-shadow: 0px 0px 10px;
  border-radius: 15px;
 }
 .flag-part{
  display: flex;
  margin: 20%;
 }
 .flag-part-1 img{
height: 100%;
width: 100%;
 }
 .var{
  padding: 0 20px;
 }
 .team-1{
  white-space: nowrap;
  padding: 5%;
  padding-left: 2%;
  padding-right: 10%;
  margin-left: 20px;
   margin-right: 20px;
 }

 
 









 
